
* {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  background: url(./assets/bg-intro-desktop.png) ;
  background-color: hsl(0, 100%, 74%);
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}